<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Items</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="{% url 'retrieve_item' pk=item.pk %}">{{ item.name }}</a></td>
            <td>{{ item.get_price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>